<p id="notice"><%= notice %></p>

<h1>Schedule Reviews</h1>

<% @schedule_reviews.each do |schedule| %>
    <p class="schedule_name"><%= link_to schedule.user.name, schedule.user %></li>
    <ul class="schedule_list">
      <% schedule.class_reviews.each do |classrev| %>
      <li> <%= classrev.course.name %> </li>
      <% end %>
    </ul>
  <% end %>

