<p id="notice"><%= notice %></p>

<%= render 'schedule_review', schedule_review: @schedule_review %>

<%= link_to 'Edit', edit_schedule_review_path(@schedule_review) %> |
<%= link_to 'Back', user_path(current_user.id) %>
