<p id="notice"><%= notice %></p>
<div class="course_index">
<h1>Courses</h1>
  <ul>
  <% @courses.each do |course| %>
      <li class="course_name"><%= link_to course.name, course %></li>
  <% end %>
  </ul>
<br>

<%= link_to 'New Course', new_course_path %>
</div>