 <header class="container-fluid" id="navbar">
        <div class="row">
            <a href="/" id="navlogo"><h1 class="col-sm-4">ScheduleReviewer</h1></a>
            <nav class="col-sm-6">
                <a href="/">
                    <p>home</p>
                </a>
                <a href="<%= new_schedule_review_path%>">
                    <p>submit review</p>
                </a>
                <a href="<%= courses_path %>">
                    <p>all classes</p>
                </a>
                <a href="<%= schedule_reviews_path %>">
                    <p>all schedule reviews</p>
                </a>
                <a href="<%= users_path %>">
                  <p>all users</p>
                </a>
            </nav>
        </div>
    </header>
